#video-title {
    color: #CD0033;
    font-size: 50px;
    text-align:center;
}

#video-description {
    font-size: 23px;
    text-align: center;
}

#video-container.video-center {
    text-align: center;
}

#video-player {
    display: inline-block;
}


#next-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

#prev-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -95px;
    
}