#video-title {
    color: #CD0033;
    font-size: 50px;
    text-align:center;
}

#video-description {
    font-size: 23px;
    text-align: center;
}

#video-container.video-center {
    text-align: center;
}

#video-player {
    display: inline-block;
}


#next-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

#prev-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -95px;
    
}

#home-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-left: 575px;
    margin-top: 50px;
    margin-bottom: -90px;
    
}


#start-button {
    background-color: #006558;
    color: #EDEDED;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: -95px;
    
}

#prev-button:hover,
#next-button:hover,
#home-button:hover,
#start-button:hover {
    background-color: #DADADA ; /* Cambia il colore in verde quando il mouse è sopra */
    color: #006558; /* Cambia il colore del testo quando il mouse è sopra */
}

#video-player {
    width: 1920px; /* Larghezza desiderata */
    height: 1080px; /* Altezza desiderata */
}

#page-counter {
    color: #CD0033;
    font-size: 30px;
    text-align:center;
}

